@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Barcode+39+Text&family=Roboto+Condensed:wght@300;700&display=swap');

:root {
  --text: #25424f;
  --bg: #efead6;
  --cta: #739b22;
  --secondary: #705a47;
  --accent: #336031;

  /* --text but 10% opacity */
  --text-bg: rgba(37, 66, 79, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  background-color: var(--bg);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  color: var(--text);
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: var(--accent);
}

p {
  font-size: 1rem;
}

.App {
  min-height: 100dvh;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.loading {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--cta);
  border-bottom-color: var(--accent);
  animation: spin infinite 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}


/**************************** header + nav styling **/

/* header */
header {
  --header-height: 4rem;
  height: var(--header-height);
  background-image: url('images/noisy-yellow.jpg');
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--accent);
}

.header-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 1.25rem;
}

.hamburger-icon {
  z-index: 22;
  height: 100%;
  width: 6rem;
  margin-right: 0;
  margin-left: auto;
  transition: 0.10s 0.15s ease-out;
  cursor: pointer;
  background-image: url('images/noisy-yellow.jpg');
}

.follow-nav {
  padding-right: 0.75rem;
}

.line-wrapper {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 1.25rem;
}

.hamburger-line {
  width: 2rem;
  height: 0.125rem;
  background-color: var(--text);
  transition: 0.5s;
}

.first-line-smaller {
  width: 1.5rem;
}

.third-line-smaller {
  width: 0.5rem;
}

/* nav */
nav {
  --nav-item-dimension: 6rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  width: var(--nav-item-dimension);
  margin-top: calc(-1 * var(--header-height));
  margin-left: 100%;
  height: 100dvh;
  background-image: url('images/noisy-yellow.jpg');
  transition: 0.25s ease-out;
  z-index: 21;
  padding-top: 4rem;
  border-left: 1px solid var(--accent);
}

nav>.active {
  background-color: var(--cta);
}

.show-nav {
  margin-left: calc(100% - var(--nav-item-dimension));
}

nav>a {
  height: var(--nav-item-dimension);
  width: var(--nav-item-dimension);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s ease-out;
  color: var(--text);
}

nav>a+a {
  border-top: 1px solid var(--accent);
}



/***************************** main general styling **/

main {
  padding: 1rem;
  max-width: 768px;
  margin: 0 auto;
}

/***************************** year cards **/

.year-cards {
  margin-bottom: 6rem;
}

.year-cards>*+* {
  margin-top: 2rem;
}

.year-card {
  background-color: var(--text);
  min-height: max-content;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(8, 29, 49, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-status {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-status p {
  color: var(--bg);
  text-align: center;
}

.card-status>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.active-card {
  background-color: var(--accent)
}

.inactive-card {
  background-color: rgb(175, 18, 18);
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 2rem;
}

.profile>* {
  flex: 1;
}

.profile img {
  width: 100%;
  max-width: 150px;
  min-width: 120px;
  object-fit: contain;
}

.profile>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.profile p {
  color: var(--bg);
  font-size: 1.125rem;
}

.barcode {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: clamp(2vw, 4rem, 16vw);
  color: var(--bg);
  padding-inline: 2rem;
  padding-bottom: 1rem;
}

.buy_year-card {
  background-color: var(--cta);
  height: 75px;
  width: 75px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  background-color: var(--secondary);
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

dialog h3 {
  color: var(--bg);
}

dialog>div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

dialog form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1.25rem auto 0 auto;
}

dialog form label {
  color: var(--bg);
}

dialog form input,
dialog form select {
  height: 3.5rem;
  padding-inline: 1rem;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

dialog form input:focus,
dialog form select:focus {
  outline: transparent;
  border: 2px solid var(--cta);
}

dialog form>*+* {
  margin-top: 0.75rem;
}

dialog form button {
  width: 20%;
  height: 2.5rem;
  width: 6rem;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--cta);
  outline: transparent;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 1.125rem;
  color: var(--bg);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0.375rem;
  cursor: pointer;
}

.close-modal p {
  font-size: 1.25rem;
  color: var(--bg);
  transform: scaleX(1.25);
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

/***************************** wallet **/

/* user currency */
.wallet-heading {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.wallet-display {
  --display-padding: 1rem;
  min-height: 96px;
  position: relative;
  padding: var(--display-padding);
  border-radius: 12px;
  background-color: var(--text-bg);
  box-shadow: 0px 4px 8px rgba(8, 29, 49, 0.2);
}

.wallet-currency {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-right: 25px;
}

.wallet-currency>span {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

.wallet-display .add-money {
  position: absolute;
  top: 10%;
  right: var(--display-padding);
  background-color: var(--cta);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.4);
}

.wallet-display .add-money button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  color: var(--bg);
  font-size: 2rem;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

/* armband currency */
.connected-armbands {
  margin-top: 2rem;
}

.armbands-wrapper {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.armband {
  min-height: 150px;
  min-width: 150px;
  background-color: var(--secondary);
  border-radius: 12px;
  padding: 1rem;
  flex: 1;
  box-shadow: 0px 4px 12px rgba(8, 29, 49, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.armband>div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.armband>div>h3 {
  color: var(--bg);
}

.armband>div>p {
  font-size: 2.5rem;
  position: relative;
  color: var(--bg);
}

.armband>div>p>span {
  font-size: 1rem;
  position: relative;
  left: 0;
  bottom: 0;
}

.armband .add-money {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.2);
}

.armband .add-money button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  color: var(--bg);
  font-size: 2rem;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.armband h3 {
  color: var(--bg);
}

.new-armband {
  max-width: 320px;
}

.add-armband-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.add-armband-form label {
  color: var(--bg);
}

.add-armband-form input {
  height: 2rem;
  background-color: var(--bg);
  border: none;
  padding-left: 1rem;
}

.add-armband-form input:focus {
  outline: transparent;
  border: 2px solid var(--cta);
}

.add-armband-form .add-armband {
  position: absolute;
  top: -30px;
  right: 0;
  background-color: var(--accent);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.2);
}

.add-armband-form .add-armband button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  color: var(--bg);
  font-size: 2rem;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}


/*********************************************** Map */

.map-container {
  width: 100%;
  height: calc(100dvh - 4rem);
  position: relative;
  z-index: 0;
}

.map-overlay {
  position: absolute;
  z-index: 2000;
  background-color: var(--secondary);
  cursor: pointer;
  bottom: 1rem;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.2);
  border-radius: 4px;
  gap: 0.25rem;
}

.map-overlay>p {
  color: var(--bg);
  font-size: 1.125rem
}

/*********************************************** Tickets */

.tickets-container {
  display: flex;
  gap: 1rem;
}

.t-heading {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.tickets-container>div {
  flex: 1;
  background-color: var(--secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(8, 29, 49, 0.2);
  border-radius: 12px;
  position: relative;
}

.tickets-container>div>p {
  color: var(--bg);
  font-size: clamp(2vw, 1.5rem, 4vw);
}

.tickets-container>div>p:first-of-type {
  font-size: clamp(2vw, 3rem, 6vw);
}

.tickets-container .add-tickets {
  position: absolute;
  top: 10%;
  right: 1.25rem;
  background-color: var(--cta);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.4);
}

.tickets-container .add-tickets button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  color: var(--bg);
  font-size: 2rem;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.owned-tickets {
  width: 50%;
  background-color: var(--text-bg);
  box-shadow: 0px 4px 12px rgba(8, 29, 49, 0.2);
  border-radius: 12px;
  padding: 2rem;
}

.owned-tickets p {
  color: var(--text);
}

.owned-tickets div p {
  text-align: center;
  font-size: clamp(2vw, 3rem, 6vw);
}

/**************************************** Wallet widget *******/
.wallet-widget {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 0.25rem;
  z-index: 4000;
  /* background-color: var(--secondary); */
  background-color: var(--cta);
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.2);
}

.wallet-widget a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-value {
  height: 85%;
  width: 85%;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 6px rgba(8, 29, 49, 0.5);
}

.widget-value p {
  text-align: center;
  color: var(--bg);
  /* color: var(--bg); */
}

.wallet-icon {
  height: 25px;
  aspect-ratio: 1/1;
  background-color: var(--bg);
  -webkit-mask: url('images/wallet.svg') no-repeat center;
  mask: url('images/wallet.svg') no-repeat center;
}