/* Root variabler til at henvise til farvekoder */
:root {
  --cta: #00b14b;
  --cta-shade: #004c00;
  --dark-bg: #252525;
  --dark-bg-shade: #252525a6;
  --text-primary: #f9f9f9;
  --text-secondary: #d9d9d9;

  --content-heading: clamp(24px, 4vw, 48px);
}

/* Global App styling */
* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark-bg);
  color: white;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.shade-center {
  text-align: center;
  color: var(--text-secondary);
  max-width: 600px;
}

h1 {
  margin-top: 0;
}

p {
  line-height: 1.4;
}

div img {
  max-width: 100%;
  height: auto;
}

/* Loading page */
.loading-page {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.loading-page .stair {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  animation: fadeOut 1.5s forwards;
  animation-delay: 2.5s;
}

.loading-page .stair .stair-step {
  background-color: var(--cta);
  height: 80px;
  animation: slideIn 1s forwards;
  align-self: flex-end;
}

.loading-page .stair .stair-step:nth-of-type(1) {
  width: 100px;
  animation-delay: 1s;
  opacity: 0;
}

.loading-page .stair .stair-step:nth-of-type(2) {
  width: 200px;
  animation-delay: 0.5s;
  opacity: 0;
}

.loading-page .stair .stair-step:nth-of-type(3) {
  width: 300px;
}

/* Margin-top for at medregne vores headers height */
.page {
  margin: 100px auto;
  max-width: 1450px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-bg);
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--text-primary);
  display: flex;
  padding: 0 2rem;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

header .logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--text-primary);
  font-weight: 700;
  text-decoration: none;
}

header .desktop-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .desktop-menu a {
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.2s;
}

header .desktop-menu a:hover {
  color: var(--cta);
}

header .desktop-menu a.active {
  font-weight: 700;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right bottom, var(--cta), var(--cta-shade));
  border-image-slice: 1;
  width: fit-content;
}

header .desktop-menu .header-seperator-line {
  height: 70px;
  margin: 0 1rem;
  width: 1px;
  background-color: var(--text-primary);
}

header .hamburger {
  display: none;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 4px;
  transform: rotate(180deg);
}

header .hamburger .hamburger-line {
  width: 22px;
  height: 2px;
  background-color: var(--text-primary);
  transition: 0.3s;
}

header .hamburger .smaller-line {
  width: 14px;
  transition: 0.3s;
}

header .mobile-menu {
  position: absolute;
  height: calc(100vh - 70px);
  width: 100vw;
  top: 70px;
  left: 0;
  visibility: hidden;
  display: flex;
  background-color: #00b14b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

header .mobile-menu a {
  color: var(--dark-bg);
  font-weight: 700;
  text-decoration: none;
  font-size: 68px;
}

header nav.active {
  visibility: visible;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

/* Homepage */
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
}

.hero-section div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}

.hero-section div span {
  display: flex;
  font-size: clamp(32px, 10vw, 78px);
  gap: 1rem;
}

.hero-section div:nth-of-type(1) span {
  position: absolute;
  right: 2rem;
}

.hero-section div:nth-of-type(3) span {
  position: absolute;
  right: 2rem;
}

.hero-section div img {
  max-width: 100%;
  height: auto;
}

section {
  margin: 10rem 0;
}

.col-2 {
  display: flex;
  gap: 10vw;
  flex-wrap: wrap;
}

.col-2 div {
  flex: 40%;
  min-width: 280px;
}

.col-2 div h1 {
  font-size: var(--content-heading);
  margin-bottom: 0.5rem;
}

.gradient-line {
  width: 90px;
  height: 4px;
  background: linear-gradient(90deg, var(--cta) 0%, var(--cta-shade) 100%);
  margin: 0 0 2.5rem 0;
  min-width: 0 !important;
}

.info-section {
  gap: 2rem !important;
}

.info-section div {
  height: fit-content;
  min-height: 480px;
  box-sizing: border-box;
  min-width: 300px;
}

.design-box {
  display: flex;
  background: linear-gradient(270deg, var(--cta) -25%, var(--cta-shade) 95%);
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}

.design-box div {
  padding: 2rem 3rem;
}

.design-box .tool-text {
  max-width: 200px;
  position: relative;
  z-index: 5;
}

.design-box img {
  position: absolute;
  right: 0;
  top: 10%;
}

.grey-box {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.grey-box div {
  min-width: 0;
}

.tool-box-text {
  position: relative;
  z-index: 5;
}

.border-corner {
  border-radius: 100px 100px 0 100px;
}

.border-corner::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 200px;
  border-radius: 100px 0 0 0;
  right: -50px;
  bottom: -50px;
  background: linear-gradient(270deg, var(--cta) -25%, var(--cta-shade) 95%);
}

.right-side-line .tool-text {
  max-width: 400px;
  position: relative;
  z-index: 5;
}

.right-side-line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 80px;
  background: linear-gradient(90deg, rgba(254, 250, 248, 0) 20%, var(--cta-shade) 20%, var(--cta-shade) 40%, rgba(254, 250, 248, 0) 40%, rgba(254, 250, 248, 0) 60%, var(--cta) 60%, var(--cta) 80%, rgba(254, 250, 248, 0) 80%);
  right: 2rem;
  top: 0;
}

.tool-text-full {
  padding: 2rem 3rem;
  background: var(--text-secondary);
  color: var(--dark-bg);
  border-radius: 100px 0 100px 100px;
}

/* Testimonial */

.testimonial-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.testimonial-section>div {
  width: clamp(30%, 600px, 100%);
}

.testimonial-section div h1 {
  font-size: var(--content-heading);
}

.testimonial {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(to bottom, var(--cta) -25%, var(--cta-shade) 95%);
  padding: 3rem;
  border-radius: 100px 100px 100px 0;
  box-sizing: border-box;
  gap: 2rem;
  flex-wrap: wrap;
}

.testimonial>div {
  flex: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonial h3 {
  margin-bottom: 0;
}

.testimonial span {
  font-size: 14px;
  line-height: 1;
}

.testimonial-text-box {
  background: rgba(37, 37, 37, 0.75);
  padding: 2rem;
  border-radius: 50px;
}

.testimonial-text-box p {
  margin: 0;
}

/* Low opacity text component */
.low-opacity-text {
  max-width: 800px;
}

.low-opacity-text h1 {
  color: var(--text-secondary);
}

.span-white {
  color: var(--text-primary);
}

/* Swiper */
.swiper {
  padding-bottom: 100px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 100% !important;
  transform: translateY(-50px);
  color: var(--cta) !important;
}

.swiper-button-prev {
  right: 50px !important;
  left: auto !important;
}

/* Quote section */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Employees component */
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.employee-card {
  max-width: 23%;
  min-width: 280px;
}

.employee-card p {
  margin: 0;
}

/* About */

.about-image-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.image-2 img {
  min-width: 280px;
}

.image-2 img:first-of-type {
  flex: 40%;
}

.image-2 img:last-of-type {
  flex: 55%;
}

.meet-your-team-section h1 {
  font-size: var(--content-heading);
}

/* Services */
.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.service-box {
  width: clamp(280px, 40%, 800px);
  position: relative;
}

.service-box img {
  filter: blur(4px);
  transition: 0.3s;
}

.service-box:hover img {
  filter: none;
}

.service-box h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.tools-background-img {
  background: linear-gradient(270deg, transparent -25%, var(--text-secondary) 95%);
  padding: 3rem 0 3rem 3rem;
  border-radius: 100px 0 0 100px;
}

/* Case section */
.case-section h1 {
  font-size: var(--content-heading);
}

.cases {
  display: flex;
  flex-direction: column;
}

.cases .case {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--cta-shade);
  padding: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary);
}

.case h1 {
  margin-bottom: 0.5rem;
  font-size: 28px;
}

.ziropa {
  border-radius: 50px 50px 50px 0;
}

.memphis-mansion {
  border-radius: 0 50px 50px 50px;
}

.outdoor-games {
  border-radius: 50px 0px 50px 50px;
}

/* Case subpage */
.expertise {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.no-margin {
  margin: 0;
}

.tools-used {
  font-size: 12px;
  color: var(--text-secondary);
  margin-top: 1rem;
}

.case-images {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.case-images img {
  max-width: 650px;
  min-width: 280px;
}

.case-info-section {
  max-width: 70ch;
}

/* case ziropa */
.case-images img:nth-child(1) {
  border-radius: 0 50px 50px 0;
}

.case-images img:nth-child(2) {
  border-radius: 50px;
}

.about-image-section .large-case-image {
  border-radius: 100px 100px 0 100px;
}


/* Prices */
.price-intro {
  max-width: 800px;
  margin-block: 5rem;
}

.price-intro h1 {
  font-size: var(--content-heading);
  margin-bottom: 0.5rem;
}

.content-separator-line {
  height: 1px;
  background-color: var(--text-primary);
  margin-block: 7rem;
}

.price-examples-wrapper h1 {
  font-size: var(--content-heading);
  margin-bottom: 0.5rem;
}

.price-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.price-example {
  min-width: 260px;
  flex: 1;
}

.price-example p {
  padding-block: 0.5rem;
  margin: 0;
}

.price-example p span {
  float: right;
}

.price-example p:not(:last-of-type) {
  border-bottom: 1px solid var(--text-primary);
}

.price-flavor {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.price-flavor h1 {
  margin-bottom: 0.5rem;
  font-size: var(--content-heading);
}

.price-flavor>* {
  min-width: 260px;
  flex: 1;
}

/* Values */
.bold {
  font-weight: 700;
}

.sustainability,
.climate-action {
  margin-inline: auto;
}

.values-banner div {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px 100px 0 100px;
}

.values-content {
  display: flex;
  justify-content: space-between;
  gap: clamp(2vw, 10rem, 10vw);
}

.values-content h1 {
  font-size: var(--content-heading);
  margin-bottom: 0.5rem;
}

.values-content>* {
  flex: 1;
}

.values-content-text {
  max-width: 800px;
  min-width: 280px;
}

.values-content-image {
  min-width: 280px;
  max-width: 800px;
}

.statistics .graphs {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.statistics .graphs .blob {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 250px;
  height: 220px;
  margin: 0 auto;
  display: flex;
  color: black;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


.statistics .graphs .pink-blob {
  background-image: url(images/pinkblob.svg);
}

.statistics .graphs .blue-blob {
  background-image: url(images/blueblob.svg);
}

.statistics .graphs .green-blob {
  background-image: url(images/greenblob.svg);
}

.statistics .graphs>* {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
}

.statistics .graphs a {
  text-decoration: none;
  color: var(--cta);
}

.contact-us-cta {
  max-width: 850px;
}

.contact-us-cta h1 {
  font-size: var(--content-heading);
  margin-bottom: 0.5rem;
}

.contact-us-cta a {
  text-decoration: none;
  color: var(--cta);
}

@keyframes menuFadeIn {
  from {
    display: flex;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes menuFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1450px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 38px;
  margin: 100px auto 0 auto;
}

footer div {
  min-width: 200px;
}

footer .footer-top {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
}

footer .footer-main {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin: 2rem 0;
}

footer .footer-main h1 {
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  border-image: linear-gradient(to right bottom, var(--cta), var(--cta-shade));
  border-image-slice: 1;
  width: 40px;
}

footer .footer-main p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer .footer-main a {
  text-decoration: none;
  color: var(--text-primary);
  margin: 1rem 0;
  display: block;
  transition: 0.2s;
}

footer .footer-main a:hover {
  color: var(--cta);
}

footer .footer-main .phone,
footer .footer-main .mail {
  display: flex;
  gap: 0.75rem;
}

footer .footer-bottom {
  color: var(--text-secondary);
  font-size: 0.5rem;
  margin-top: 1rem;
}

/* Contact form */
.contact-form {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  background-color: var(--text-secondary);
  padding: 2rem;
  border-radius: 38px 0 38px 0;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form .form-textbox h1 {
  font-size: 2rem;
  background: linear-gradient(to right, var(--cta), var(--cta-shade) 25%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 2rem 0;
}

.contact-form .form-textbox p {
  color: var(--dark-bg);
  line-height: 1.4;
  max-width: 40ch;
  margin-bottom: 4rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  background: var(--cta-shade);
  padding: 2rem;
  border-radius: 38px 0 38px 38px;
  gap: 1rem;
  flex: 50%;
}

.contact-form form input {
  background: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--text-primary);
  color: var(--text-primary);
  margin: 0.25rem 0;
  outline: none;
}

.contact-form form input:last-of-type {
  margin-bottom: 2rem;
}

.contact-form form input::placeholder {
  color: var(--text-secondary);
}

.contact-form form textarea {
  padding: 0.5rem;
  resize: none;
  height: 120px;
  border-radius: 10px;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
}

.contact-form form button {
  width: 100%;
  padding: 1rem;
  background: var(--cta);
  border: none;
  border-radius: 10px;
  color: var(--text-primary);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(100);
    opacity: 0;
  }
}

@media (max-width: 1080px) {
  .hero-word {
    display: none;
  }

  .design-box img {
    right: -30%;
    top: 45%;
  }

}

@media (max-width: 967px) {
  .employee-card {
    flex: 1;
    max-width: initial;
  }

}

@media (max-width: 700px) {
  .App {
    padding: 1rem;
  }

  header {
    padding: 1rem;
  }

  header .desktop-menu * {
    display: none;
  }

  header .hamburger {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40px;
  }

  .price-flavor {
    flex-direction: column-reverse;
  }

  .price-flavor img {
    max-width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .values-content {
    flex-direction: column;
  }

  .climate-action .values-content {
    flex-direction: column-reverse;
  }

  .loading-page .stair {
    transform: scale(0.5);
  }
}

@media (max-width: 400px) {
  .phone-break-line {
    display: none;
  }
}